.collapse {
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;

  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-primary; // Ton rouge Kasa
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

  &__title {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
  }

  &__arrow {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
    transform: rotate(0deg); /* Pointe vers le bas par défaut */
  }

  &__body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    background-color: #f6f6f6;
    border-radius: 0 0 5px 5px;
    padding: 0 20px;
    color: #000;
    font-size: 16px;
    text-align: left; 

    ul, ol {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    li {
      list-style: none;
      padding: 0;
      margin: 0;
      line-height: 1.5;
    }
  }

  &--open {
    .collapse__arrow {
      transform: rotate(180deg);
    }

    .collapse__body {
      max-height: 800px;
      padding: 20px;
    }
  }

  @media (max-width: 767px) {
    &__header {
      padding: 6px 15px;
    }

    &__title {
      font-size: 13px;
    }

    &__arrow {
      width: 16px;
      height: 16px;
    }

    &__body {
      font-size: 14px;
    }
  }
}