.home {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 100px;

  &__grid {
    background-color: #f6f6f6;
    border-radius: 25px;
    padding: 43px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  @media (max-width: 767px) {
    padding: 0 20px;

    &__grid {
      background-color: transparent;
      padding: 0;
      grid-template-columns: 1fr;
    }
  }
}