@import 'variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif; // potentiellement a changé
  -webkit-font-smoothing: antialiased;
}

// Structure globale du site (Centré, max 1240px comme sur Figma)
.kasa-layout {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.kasa-main-content {
  flex: 1;
}

// ==========================================
// 1. STYLE DU HEADER
// ==========================================
.kasa-header {
  display: flex;
  justify-content: space-between; // logo à gauche, Nav à droite
  align-items: center;
  padding: 20px 0;

  &__logo {
    height: 68px;
    @media (max-width: $breakpoint-mobile) {
      height: 47px;
    }
  }

  &__nav {
    display: flex;
    gap: 50px;
    
    @media (max-width: $breakpoint-mobile) {
      gap: 20px;
    }
  }

  &__link {
    color: $color-black;
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;

    @media (max-width: $breakpoint-mobile) {
      font-size: 12px;
      text-transform: uppercase;
    }

    &--active {
      text-decoration: underline; // souligne uniquement si on est sur la page active
    }
  }
}

// ==========================================
// 2. STYLE DU FOOTER
// ==========================================
.kasa-footer {
  background-color: $color-black;
  color: $color-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 60px 0;
  margin-top: 40px;

  &__logo {
    height: 40px;
  }

  &__text {
    font-size: 24px;
    text-align: center;

    @media (max-width: $breakpoint-mobile) {
      font-size: 12px;
      max-width: 130px; // force le retour a la ligne
    }
  }
}