// Couleurs Kasa
$color-primary: #FF6060; // Le orange/rouge signature
$color-secondary: #F6F6F6; // Le fond gris clair des cartes/about
$color-white: #FFFFFF;
$color-black: #000000;

// Breakpoint pour le responsive (Mobile / Desktop)
$breakpoint-mobile: 768px;